<link rel="stylesheet" href="footer.css" />

<footer>
  <div class="footer-content">
    <div class="contact-info">
      <p>Salvador, BA</p>
    </div>
    <div class="social-links">
      <a
        href="https://www.linkedin.com/in/limalucasdev/"
        target="_blank"
        ><img src="../../assets/linkedin.png" alt="Linkedin"
      /></a>
      <a href="https://github.com/L1malucas/" target="_blank"
        ><img src="../../assets/github.png" alt="GitHub"
      /></a>
    </div>
  </div>
  <div class="copyright">
    <p>
      Desafio 2: Crie uma página web contendo um formulário de pedido para um
      e-commerce fictício.
    </p>
  </div>
</footer>
