<link rel="stylesheet" href="footer.css" />

<footer>
  <div class="footer-content">
    <div class="contact-info">
      <p>Salvador, BA - 71-0000-0000 - email@email.com</p>
    </div>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/limalucasdev/" target="_blank"
        ><img src="../../assets/linkedin.png" alt="Linkedin"
      /></a>
      <a href="https://github.com/L1malucas/" target="_blank"
        ><img src="../../assets/github.png" alt="GitHub"
      /></a>
      <a href="x.com/L1ma_lucas" target="_blank"
        ><img src="../../assets/twitter.png" alt="Twitter"
      /></a>
    </div>
  </div>
  <div class="copyright">
    <p>
      &copy; 2024 Lucas Lima. | Design by
      <a href="https://www.linkedin.com/in/limalucasdev/" target="_blank"
        >Lucas Lima</a
      >
    </p>
  </div>
</footer>
